@media (max-width: 767px) {
  .control-bg-white {
    color: white;
  }
}
@media (max-width: 280px) {
  .display-none {
    display: none;
  }
  .width-30 {
    width: 30px;
  }
  .text-size {
    font-size: 30px;
  }
  .display-block {
    display: block;
    width: 60px;
    text-align: center;
  }
}
